pages:
  image: ghcr.io/prefix-dev/pixi:0.62.2-bookworm
  variables:
    GIT_STRATEGY: clone
    TZ: Asia/Shanghai
    GITLAB_HOST: $GITLAB_HOST
    GITLAB_TOKEN: $GITLAB_TOKEN
    GITLAB_USER: $GITLAB_USER
  script:
    - pixi run -e ci push_to_pages
  artifacts:
    paths:
      - build
    expire_in: 1 week
