[workspace]
authors = ["Haven Madray <sgpublic2002@gmail.com>"]
channels = ["conda-forge"]
name = "PGEE"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[tasks.npm_install_bun]
cmd = ["npm", "install", "-g", "bun"]

[tasks.npm_install]
cmd = ["bun", "install"]
depends-on = ["npm_install_bun"]

[tasks.npm_build]
cmd = ["bun", "run", "build"]
env.RUST_BACKTRACE = "full"
depends-on = ["npm_install_bun", "npm_install"]

[tasks.jieba]
cmd = ["python", "./scripts/jieba_segment.py"]

[tasks.build]
depends-on = ["jieba", "npm_build"]

[tasks.push_to_pages]
depends-on = ["build"]
cmd = ["bash", "./scripts/push_to_pages.sh"]

[dependencies]
nodejs = ">=22.16.0,<23"
python = ">=3.14.0,<3.15"
pixi-pycharm = ">=0.0.10,<0.0.11"
git = ">=2.52.0,<3"

[pypi-dependencies]
jieba = ">=0.42.1, <0.43"
markdown-it-py = ">=4.0.0, <5"
